@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="/Content/page_pricing.css">
<link rel="stylesheet" href="/Content/plugins/jquery.fancybox.css">
<div class="container content">
    <div class="row">
        <div class="col-md-9">
            <div class="margin-bottom-30">
                <div class="headline">
                    <h2>
                        Info</h2>
                </div>
            </div>
            <div>
                <h3>
                    Vamsi Events & Caterers</h3>
                <ul class="list-unstyled who margin-bottom-30">
                    <li><i class="fa fa-home"></i>Ashoknagar, Vijayawada</li>
                    <li><i class="fa fa-phone"></i>8143776677</li>
                </ul>
            </div>
            <div class="margin-bottom-30">
                <div class="headline">
                    <h2>
                        Packages</h2>
                </div>
            </div>
            <div>
                <!-- Pricing Rounded -->
                <div class="row margin-bottom-40 pricing-rounded">
                    <div class="col-md-4 col-sm-6">
                        <div class="pricing hover-effect">
                            <div class="sticker-right">
                                15%<i class="fa fa-gift"></i></div>
                            <div class="pricing-head">
                                <h3>
                                    Begginer</h3>
                                <h4>
                                    <i>$</i>5<i>.49</i><span>Per Month</span></h4>
                                <h6>
                                    Labore et dolore magnaras</h6>
                            </div>
                            <ul class="pricing-content list-unstyled">
                                <li class="bg-color"><i class="fa fa-location-arrow"></i>Free customisation<span><i
                                    class="fa fa-check"></i></span></li>
                                <li><i class="fa fa-inbox"></i>24 hour support</li>
                                <li class="bg-color"><i class="fa fa-globe"></i>10 GB Disckspace</li>
                                <li><i class="fa fa-cloud-upload"></i>Cloud Storage</li>
                                <li class="bg-color"><i class="fa fa-cloud"></i>Online Protection</li>
                            </ul>
                            <div class="pricing-footer">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum
                                    olor.</p>
                                <a class="btn-u" href="~/Vijayawada/Catering/PackageDetails"><i class="fa fa-shopping-cart"></i>Purchase Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="pricing hover-effect">
                            <div class="sticker-right">
                                30%<i class="fa fa-gift"></i></div>
                            <div class="pricing-head">
                                <h3>
                                    Unify Pro</h3>
                                <h4>
                                    <i>$</i>8<i>.69</i> <span>Per Month</span></h4>
                                <h6>
                                    Labore et dolore magnaras</h6>
                            </div>
                            <ul class="pricing-content list-unstyled">
                                <li class="bg-color"><i class="fa fa-location-arrow"></i>Free customisation <span><i
                                    class="fa fa-check"></i></span></li>
                                <li><i class="fa fa-inbox"></i>24 hour support<span><i class="fa fa-check"></i></span></li>
                                <li class="bg-color"><i class="fa fa-globe"></i>10 GB Disckspace</li>
                                <li><i class="fa fa-cloud-upload"></i>Cloud Storage</li>
                                <li class="bg-color"><i class="fa fa-cloud"></i>Online Protection</li>
                            </ul>
                            <div class="pricing-footer">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum
                                    olor.</p>
                                <a class="btn-u" href="~/Vijayawada/Catering/PackageDetails"><i class="fa fa-shopping-cart"></i>Purchase Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="pricing hover-effect">
                            <div class="sticker-right">
                                50%<i class="fa fa-gift"></i></div>
                            <div class="pricing-head">
                                <h3>
                                    Premium</h3>
                                <h4>
                                    <i>$</i>69<i>.99</i><span>Per Month</span></h4>
                                <h6>
                                    Labore et dolore magnaras
                                </h6>
                            </div>
                            <ul class="pricing-content list-unstyled">
                                <li class="bg-color"><i class="fa fa-location-arrow"></i>Free customisation <span><i
                                    class="fa fa-check"></i></span></li>
                                <li><i class="fa fa-inbox"></i>24 hour support<span><i class="fa fa-check"></i></span></li>
                                <li class="bg-color"><i class="fa fa-globe"></i>10 GB Disckspace<span><i class="fa fa-check"></i></span></li>
                                <li><i class="fa fa-cloud-upload"></i>Cloud Storage</li>
                                <li class="bg-color"><i class="fa fa-cloud"></i>Online Protection</li>
                            </ul>
                            <div class="pricing-footer">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum
                                    olor.</p>
                                <a class="btn-u" href="~/Vijayawada/Catering/PackageDetails"><i class="fa fa-shopping-cart"></i>Purchase Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="pricing hover-effect">
                            <div class="sticker-right">
                                15%<i class="fa fa-gift"></i></div>
                            <div class="pricing-head">
                                <h3 class="non-veg">
                                    Begginer</h3>
                                <h4 class="hover-non-veg">
                                    <i>$</i>5<i>.49</i><span>Per Month</span></h4>
                                <h6>
                                    Labore et dolore magnaras</h6>
                            </div>
                            <ul class="pricing-content list-unstyled">
                                <li class="bg-color"><i class="fa fa-location-arrow"></i>Free customisation<span><i
                                    class="fa fa-check"></i></span></li>
                                <li><i class="fa fa-inbox"></i>24 hour support</li>
                                <li class="bg-color"><i class="fa fa-globe"></i>10 GB Disckspace</li>
                                <li><i class="fa fa-cloud-upload"></i>Cloud Storage</li>
                                <li class="bg-color"><i class="fa fa-cloud"></i>Online Protection</li>
                            </ul>
                            <div class="pricing-footer">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum
                                    olor.</p>
                                <a class="btn-u" href="~/Vijayawada/Catering/PackageDetails"><i class="fa fa-shopping-cart"></i>Purchase Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="pricing hover-effect">
                            <div class="sticker-right">
                                30%<i class="fa fa-gift"></i></div>
                            <div class="pricing-head">
                                <h3 class="non-veg">
                                    Unify Pro</h3>
                                <h4>
                                    <i>$</i>8<i>.69</i> <span>Per Month</span></h4>
                                <h6>
                                    Labore et dolore magnaras</h6>
                            </div>
                            <ul class="pricing-content list-unstyled">
                                <li class="bg-color"><i class="fa fa-location-arrow"></i>Free customisation <span><i
                                    class="fa fa-check"></i></span></li>
                                <li><i class="fa fa-inbox"></i>24 hour support<span><i class="fa fa-check"></i></span></li>
                                <li class="bg-color"><i class="fa fa-globe"></i>10 GB Disckspace</li>
                                <li><i class="fa fa-cloud-upload"></i>Cloud Storage</li>
                                <li class="bg-color"><i class="fa fa-cloud"></i>Online Protection</li>
                            </ul>
                            <div class="pricing-footer">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum
                                    olor.</p>
                                <a class="btn-u" href="~/Vijayawada/Catering/PackageDetails"><i class="fa fa-shopping-cart"></i>Purchase Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="pricing hover-effect">
                            <div class="sticker-right">
                                50%<i class="fa fa-gift"></i></div>
                            <div class="pricing-head">
                                <h3 class="non-veg">
                                    Premium</h3>
                                <h4>
                                    <i>$</i>69<i>.99</i><span>Per Month</span></h4>
                                <h6>
                                    Labore et dolore magnaras
                                </h6>
                            </div>
                            <ul class="pricing-content list-unstyled">
                                <li class="bg-color"><i class="fa fa-location-arrow"></i>Free customisation <span><i
                                    class="fa fa-check"></i></span></li>
                                <li><i class="fa fa-inbox"></i>24 hour support<span><i class="fa fa-check"></i></span></li>
                                <li class="bg-color"><i class="fa fa-globe"></i>10 GB Disckspace<span><i class="fa fa-check"></i></span></li>
                                <li><i class="fa fa-cloud-upload"></i>Cloud Storage</li>
                                <li class="bg-color"><i class="fa fa-cloud"></i>Online Protection</li>
                            </ul>
                            <div class="pricing-footer">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum
                                    olor.</p>
                                <a class="btn-u" href="~/Vijayawada/Catering/PackageDetails"><i class="fa fa-shopping-cart"></i>Purchase Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="margin-bottom-30">
                <div class="headline">
                    <h2>
                        Add-ons</h2>
                </div>
            </div>
            <div>
                <div class="col-md-4 col-sm-6">
                    <div class="servive-block servive-block-u">
                        <h2 class="heading-md">
                            Unify Box</h2>
                        <p>
                            Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="servive-block servive-block-u">
                        <h2 class="heading-md">
                            Unify Box</h2>
                        <p>
                            Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="servive-block servive-block-u">
                        <h2 class="heading-md">
                            Unify Box</h2>
                        <p>
                            Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="servive-block servive-block-red">
                        <h2 class="heading-md">
                            Red Box</h2>
                        <p>
                            Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus
                            elit nondapibus</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="servive-block servive-block-red">
                        <h2 class="heading-md">
                            Red Box</h2>
                        <p>
                            Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus
                            elit nondapibus</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="servive-block servive-block-red">
                        <h2 class="heading-md">
                            Red Box</h2>
                        <p>
                            Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus
                            elit nondapibus</p>
                    </div>
                </div>
            </div>
            <div class="margin-bottom-30">
                <div class="headline">
                    <h2>
                        Images</h2>
                </div>
            </div>
            <div>
                <div class="col-md-3">
                    <a href="/Images/vamsi1.jpg" title="Project #2" data-rel="fancybox-button" class="thumbnail fancybox-button zoomer">
                        <span class="overlay-zoom">
                            <img class="img-responsive" src="/Images/vamsi1.jpg" alt="" />
                            <div class="zoom-icon">
                            </div>
                        </span></a>
                </div>
                <div class="col-md-3">
                    <a href="/Images/vamsi2.jpg" title="Project #2" data-rel="fancybox-button" class="thumbnail fancybox-button zoomer">
                        <span class="overlay-zoom">
                            <img class="img-responsive" src="/Images/vamsi2.jpg" alt="" />
                            <div class="zoom-icon">
                            </div>
                        </span></a>
                </div>
                <div class="col-md-3">
                    <a href="/Images/vamsi3.jpg" title="Project #2" data-rel="fancybox-button" class="thumbnail fancybox-button zoomer">
                        <span class="overlay-zoom">
                            <img class="img-responsive" src="/Images/vamsi3.jpg" alt="" />
                            <div class="zoom-icon">
                            </div>
                        </span></a>
                </div>
                <div class="col-md-3">
                    <a href="/Images/vamsi4.jpg" title="Project #2" data-rel="fancybox-button" class="thumbnail fancybox-button zoomer">
                        <span class="overlay-zoom">
                            <img class="img-responsive" src="/Images/vamsi4.jpg" alt="" />
                            <div class="zoom-icon">
                            </div>
                        </span></a>
                </div>
            </div>
            <div class="margin-bottom-30">
                <div class="headline">
                    <h2>
                        Reviews</h2>
                </div>
            </div>
            <div>
                No Reviews Yet</div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="/Scripts/plugins/jquery.fancybox.pack.js"></script>    
    <script type="text/javascript">
        jQuery(document).ready(function () {            
            App.initFancybox();
        });
    </script>
}
