<div class="container content">
    <h2>We are working on adding venue details, please come back</h2>
    <!-- <div class="row">
        <div class="col-md-2">
            <div class="margin-bottom-30">
                <div class="headline">
                    <h2>
                        Filter Venues
                    </h2>
                </div>
            </div>            
                <div class="form-group">
                    <label for="q">
                        Venue or Location
                    </label>
                    <input type="text" class="form-control" id="q" name="q" value="" placeholder="venue or location">
                </div>           
        </div>
        <div class="col-md-8">
            <div class="margin-bottom-30">
                <div class="headline">
                    <h2>
                        Venues
                    </h2>                  

                </div>
            </div>            
                <div id="venueList">                   
                </div>          
          
        </div>
        <div class="col-md-2">            
        </div>
    </div> -->
</div>