<div id="loading-indicator" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false"
data-backdrop="static">
<div class="modal-dialog">
   <div class="modal-content">
       <div class="modal-body">
           <div>
               Loading...
               <img id="ajax-loader" src="assets/images/ajax-loader.gif" />
           </div>
       </div>
   </div>
</div>
</div>
<div class="wrapper">
<!--=== Header ===-->
<div class="header header-v1">
   <!-- Topbar -->
   <div class="topbar-v1 margin-bottom-20">
       <div class="container">
           <div class="row">
               <div class="col-md-6">
                   <ul class="list-unstyled top-v1-contacts">
                       <li><i class="fa fa-envelope"></i>Email: easyevents.in@gmail.com</li>
                       <li><i class="fa fa-phone"></i>Hotline: (+91) 8143776677 </li>
                   </ul>
               </div>
               
           </div>
       </div>
   </div>
   <!-- End Topbar -->
   <!-- Navbar -->
   <div class="navbar navbar-default" role="navigation">
       <div class="container">
           <!-- Brand and toggle get grouped for better mobile display -->
           <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                   <span class="sr-only">Toggle navigation</span> <span class="fa fa-bars"></span>
               </button>
               <a class="navbar-brand" href="/">
                   
                   easy<span class="text-primary">events</span>.in
               </a>
           </div>
           <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse navbar-responsive-collapse">
               <ul class="nav navbar-nav">                            
                   <li><a href="/vijayawada/catering">Catering</a></li>
                   <li><a href="/vijayawada/venue">Venues</a></li>
                   
                   <li><a href="/contact">Contact</a></li>
               </ul>
           </div>
           <!--/navbar-collapse-->
       </div>
   </div>
   <!-- End Navbar -->
</div>
<!--=== End Header ===-->
<router-outlet></router-outlet>