<div class="container content">
  <div class="row">      
      <div class="col-md-12">
          <div class="margin-bottom-30">
              <div class="headline">
                  <h2>
                      Packages
                  </h2>
              </div>
          </div>
          <div>
              <!-- Pricing Rounded -->
              <div class="row margin-bottom-40 pricing-rounded">
                        <div *ngFor="let item of packages" class="col-md-3">
                          <div class="pricing hover-effect">                                
                              <div class="pricing-head">
                                  <h3>
                                      {{item.Name}}
                                  </h3>
                                  <h4>
                                      <i class="fa fa-rupee"></i><i>{{item.Price}}</i><span>Per Plate</span>
                                  </h4>
                                  <h6>
                                      Package Contains <b>{{item.ItemsCount}}</b> items
                                  </h6>
                              </div>                             
                              <ul class="pricing-content list-unstyled">                                    
                                  <li *ngFor="let menu of item.Menu;index as i; odd as isOdd;" [class.bg-color]="isOdd" >
                                          <span *ngIf="menu.Item1 != 0" class="pull-right">{{menu.Item1}}</span>
                                          {{menu.Item2}}                                                                                
                                   </li>
                                  <li><b>+ {{item.MoreVarieties}} more varieties</b></li>
                              </ul>
                              <div class="pricing-footer">                                    
                                  <p><a class="btn-u" href="../vijayawada/catering/{{item.Name | lowercase}}">View Details</a></p>                                  
                              </div>
                          </div>
                      </div>                                     
              </div>
              <!--/row-->
              <!-- End Pricing Rounded -->
              <div class="margin-bottom-30">
              </div>
          </div>            
      </div>
      </div>
      <div class="row">
        <div class="headline">
          <h2>
              Add-ons
          </h2>
      </div>
      <div id="addons">
          <div class="row">
              <div class="col-md-4">
                  <div class="servive-block servive-block-u">
                      <h2 class="heading-md">
                          Mocktail Counter
                      </h2>
                      <i class="icon-custom icon-lg rounded-x icon-color-light fa fa-rupee">20</i>
                      <p>
                          Choice of any 4:
                          Blue Lagan, Green Lady, Virgin Mojito, Strawberry Punch, Grape Delight
                      </p>
                      <small><em>Min PAX: 800</em></small>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="servive-block servive-block-u">
                      <h2 class="heading-md">
                          Rajasthan Counter
                      </h2>
                      <i class="icon-custom icon-lg rounded-x icon-color-light fa fa-rupee">40</i>
                      <p>
                          Choice of any 5:
                          Mirchi Vada, Mint Vada, Coriander Vada, Dahi Vada, Noddle Pop, Money Bag
                      </p>
                      <small><em>Min PAX: 800</em></small>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="servive-block servive-block-u">
                      <h2 class="heading-md">
                          Chat Counter
                      </h2>
                      <i class="icon-custom icon-lg rounded-x icon-color-light fa fa-rupee">40</i>
                      <p>
                          Choice of any 4:
                          Bhel Puri, Pani Puri, Samosa Chat, Pav Bajji, Allu Tikki, Tomato Kachodi, Dahi Puri
                      </p>
                      <small><em>Min PAX: 1000</em></small>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                  <div class="servive-block servive-block-blue">
                      <h2 class="heading-md">
                          Other Counters
                      </h2>
                      <i class="icon-custom icon-lg rounded-x icon-color-light fa fa-rupee">60</i>
                      <p>
                          Chocolate Fountain, Sugar Candy, American Sweet Corn, Popcorn
                      </p>
                      <small><em>Min PAX: 1000</em></small>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="servive-block servive-block-blue">
                      <h2 class="heading-md">
                          Domino's Counter
                      </h2>
                      <i class="icon-custom icon-lg rounded-x icon-color-light fa fa-rupee">70</i>
                      <p>
                          Choice of any 3:
                          Margherita, Cheese and Tomato, Veg Hawaiian Delight, Spicy Triple Tango, Country Special
                      </p>
                      <small><em>Min PAX: 1500</em></small>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="servive-block servive-block-blue">
                      <h2 class="heading-md">
                          Chinese Counter
                      </h2>
                      <i class="icon-custom icon-lg rounded-x icon-color-light fa fa-rupee">80</i>
                      <p>
                          Choice of any 4:
                          Veg Soft/Fried Noodles, Veg Manchuria, Fried Rice, Paneer Corn, Veg Dumpling, Corn Cubes, Mongolia Sizzler, Veg Tawa Sizzler, Button Vegetables
                      </p>
                      <small><em>Min PAX: 1500</em></small>
                  </div>
              </div>
          </div>     
      </div>   
    </div>
</div>